@import "tailwindcss";

/* Custom popup animation */
.popup-content {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.25s cubic-bezier(.4,2,.6,1), opacity 0.25s;
}

.popup.show .popup-content {
  transform: scale(1);
  opacity: 1;
}
